<a href="https://colab.research.google.com/github/PondKann/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
# เรียกใช้ฟังก์ชั่น os เกี่ยวกับการจัดการไฟล์ เรียกไฟล์ ลบ 
import os
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

In [10]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/DataViz_2021/pm-18-jan-2021.csv

In [11]:
#ใช้ได้เหมือน os
a = path + '/covid_file_path'
print(a)

/content/drive/My Drive/DataViz_2021/covid_file_path

## Load data to memory
ใส่ edcoding='utf-8' หรือ encoding='latin1' ถ้าภาษาไม่ตรงกับ

In [35]:
data_covid = pd.read_csv(covid_file_path)
data_covid

         No.  ...                                         risk
0          1  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1          2  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2          3  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3          4  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4          5  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...      ...  ...                                          ...
12418  12419  ...                                  สถานบันเทิง
12419  12420  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420  12421  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421  12422  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422  12423  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 10 columns]

In [16]:
data_covid.shape

(12423, 10)

### การชี้ค่าในตาราง

In [20]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

#### .iloc
ชี้ตามลำดับ

In [24]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

## Table slicing

### ตัดมาเฉพาะ column ที่ต้องการ

In [25]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

      announce_date  ...                                         risk
0         1/12/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
1         1/17/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
2         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
3         1/22/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
4         1/24/2020  ...             คนต่างชาติเดินทางมาจากต่างประเทศ
...             ...  ...                                          ...
12418     1/18/2021  ...                                  สถานบันเทิง
12419     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12420     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
12421     1/18/2021  ...                  Cluster ชลบุรี โรงเบียร์ 90
12422     1/18/2021  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[12423 rows x 3 columns]

### ตัดเฉพาะ rows ที่ต้องการ

#### แบบง่าย แต่ใช้การอะไรไม่ค่อยได้

In [ ]:
data_covid.iloc[1:5,:] #แถวที่1-4 เอาทุก ๆ คอลัมน์

#### แบบ advanced แต่ใช้ปะโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [ ]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

In [ ]:
eight_rows_covid = data_covid.iloc[:8,:]
eight_rows_covid

In [ ]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]

In [33]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7    False
Name: province_of_onset, dtype: bool

# HW6 (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)
1. คำนวณ อายุเฉลี่ย ของ ผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด
2. คำนวณ อายุเฉลี่ย ของ ผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

Quiz 3. หาจำนวนผู้ป่วยที่เป็น **'คนต่างชาติเดินทางมาจากต่างประเทศ'**

In [42]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155