<a href="https://colab.research.google.com/github/PondKann/data_viz/blob/main/Pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

['pm-18-jan-2021.csv', 'covid-19-daily_data_dictionary.xlsx']

In [3]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/DataViz_2021/pm-18-jan-2021.csv

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

In [ ]:
data_covid.shape

(12423, 10)

### .isnull()
.isnull()  ข้อมูลต้องเป็น array

In [ ]:
data_covid.isnull()

### .any()เอาค่าความจริงในแต่ละ column ทุกค่ามา or กัน
### .all() เอาค่าความจริงภายในแต่ละ column มา AND กัน

In [6]:
data_covid.isnull().any()  #ได้

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

In [7]:
data_covid.isnull().all()

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [8]:
# data_covid.iloc[0,0].isnull()  #ใช้ .isnull() ไม่ได้ ข้อมูลต้องเป็น array

In [ ]:
data_covid['No.'][0].isnull()  #อันนี้เป็นการชี้ของ pandas

ต้องใช้วิธีตัดตาราง

In [ ]:
data_covid.iloc[:1,0].isnull()

# การต่อตาราง ในแนวแกน x แกน y
- ต่อแกน y คือ เพิ่ม records (เพิ่มจำนวนข้อมูล) 
- ต่อแกน x คือ เพิ่ม record (เพิ่มรายละเอียดของข้อมูล)

## ต่อแกน Y  ```pd.concat()```

In [11]:
data_covid['province_of_onset']=='ขอนแก่น'

0        False
1        False
2        False
3        False
4        False
         ...
12418    False
12419    False
12420    False
12421    False
12422    False
Name: province_of_onset, Length: 12423, dtype: bool

In [22]:
dataKK = data_covid[data_covid['province_of_onset']=='ขอนแก่น']  # จะได้ list ของ T F
dataKK.head()

       No.  ...                                           risk
180    181  ...                                        สนามมวย
462    463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466  1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970  1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637  2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ

[5 rows x 10 columns]

In [ ]:
dataUD = data_covid[data_covid['province_of_onset']=='อุดรธานี']  # จะได้ list ของ T F
dataUD.head()

In [ ]:
dataMS = data_covid[data_covid['province_of_onset']=='มหาสารคาม']  # จะได้ list ของ T F
dataMS.head()

In [ ]:
dataMYisan = pd.concat([dataKK,dataUD,dataMS])
dataMYisan

## ต่อแกน X  
- จับ 2 ตารางมาต่อกันเลย     ``` .merge```
- เลือกมาเพิ่มเฉพาะบางคอลัมน์     ```.map```

In [ ]:
data_province = data_covid[['No.','announce_date','province_of_onset']] # สร้างตารางใหม่
data_province

In [ ]:
data_human = data_covid[['No.','sex','age','nationality']]
data_human

#### แบบง่าย รู้ว่า 2 ตาราง record ตรงกัน

In [ ]:
full_table1 = data_human.merge(data_province)
full_table1

#### sort

In [ ]:
data_human2 = data_human.sort_values('age') # ทำการเรียงตาม อายุ จาก น้อย -> มาก
data_human2

### .merge

In [ ]:
full_table2 = data_human2.merge(data_province) #ซ้าย merge ต่อด้วย ขวา
full_table2.head()

     No.   sex   age nationality announce_date province_of_onset
0   1988   ชาย  0.10    Thailand      4/4/2020             ระยอง
1   6478  หญิง  0.11    Thailand    12/30/2020          เพชรบุรี
2  11498   ชาย  0.11       Burma     1/16/2021         สมุทรสาคร
3   1676   ชาย  0.30       Japan      4/1/2020     กรุงเทพมหานคร
4   1076   ชาย  0.40    Thailand     3/27/2020      สุราษฎร์ธานี

In [ ]:
data_covid[1987:1988]  # เช็ค ว่าต่อกันถูกต้องรึป่าว

In [ ]:
data_human2_renamed = data_human2.rename(columns={'No.': 'patientNumber'})  # เปลี่ยนชื่อ column ที่ชื่อ 'No.' ให้เป็นชื่อ  'patientNumber'
data_human2_renamed.head()

       patientNumber   sex   age nationality
1987            1988   ชาย  0.10    Thailand
6477            6478  หญิง  0.11    Thailand
11497          11498   ชาย  0.11       Burma
1675            1676   ชาย  0.30       Japan
1075            1076   ชาย  0.40    Thailand

In [ ]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.') # มีคีย์ เป็นตัวเชื่อม
full_table3.head()

### map() เลือกมาเฉพาะบาง column มาแปะเพิ่มเข้าไป

คุณสมบัติของ pandas ก็คือเราสามารถสร้าง column ใหม่ให้ตาราง df ได้ โดย

df['ชื่อ column ใหม่'] = (list ที่มีจำนวนสมาชิกเท่ากับจำนวน record ของ df)

In [ ]:
data_human2_renamed.head()

       patientNumber   sex   age nationality
1987            1988   ชาย  0.10    Thailand
6477            6478  หญิง  0.11    Thailand
11497          11498   ชาย  0.11       Burma
1675            1676   ชาย  0.30       Japan
1075            1076   ชาย  0.40    Thailand

### เพิ่ม column 
 จากตาราง data_human2_renamed **เพิ่ม column** ['num'] เข้าไป ค่าที่ถูกนำไปใส่ คือ range(0-ตัวเลขก่อนหน้า) ของจำนวน 'แถว' ของ data_human2_renamed

In [ ]:
data_human2_renamed['num'] = range(data_human2_renamed.shape[0])
data_human2_renamed

       patientNumber   sex   age nationality    num
1987            1988   ชาย  0.10    Thailand      0
6477            6478  หญิง  0.11    Thailand      1
11497          11498   ชาย  0.11       Burma      2
1675            1676   ชาย  0.30       Japan      3
1075            1076   ชาย  0.40    Thailand      4
...              ...   ...   ...         ...    ...
12405          12406   NaN   NaN         NaN  12418
12406          12407   NaN   NaN         NaN  12419
12407          12408   NaN   NaN         NaN  12420
12408          12409   NaN   NaN         NaN  12421
12409          12410   NaN   NaN         NaN  12422

[12423 rows x 5 columns]

ลำดับที่อยู่ใน  'patientNumber'  ให้เป็นลำดับเดียวกับ 'No.' ที่อยู่ใน data_covid แล้วในลำดับนั้นเนี่ย ให้เอาค่าที่อยู่ใน column ชื่อ  'risk' มา

In [ ]:
data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk']) #.map มันจะ ผูกค่า 'patientNumber' กับ 'No.' เข้าด้วยกัน แล้ว return list ของค่า ['risk']

In [ ]:
data_human2_renamed['detail'] = data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_renamed

## HW7 สร้างตารางใหม่ ที่ค่าใน ```sex``` เป็น missing ทั้งหมด
- สรุปว่าทำไม record นั้นๆ ถึงเป็น missing 

สรุป ใน 100% มีกี่เปอร์เซ็นที่มาจาก.....

In [ ]:
data_covid['sex']=='ขอนแก่น'

In [ ]:
data_missing = data_covid['sex'].isnull()
data_missing

In [26]:
data_covid.shape

(12423, 10)

In [25]:
dataMiss = data_covid[data_covid['sex'].isnull()]  
dataMiss

         No. announce_date  ... district_of_onset               risk
4391    4392    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4392    4393    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4393    4394    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4394    4395    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4395    4396    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
...      ...           ...  ...               ...                ...
12405  12406     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12406  12407     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12407  12408     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12408  12409     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12409  12410     1/18/2021  ...               NaN  Cluster สมุทรสาคร

[2497 rows x 10 columns]

In [40]:
BM = dataMiss[dataMiss['nationality']=='Burma']
BM.shape

(1366, 10)

In [27]:
dataMiss[dataMiss['province_of_onset']=='สมุทรสาคร'].shape

(1353, 10)

In [38]:
BM[BM['province_of_onset']=='สมุทรสาคร'].shape

(1349, 10)

จากตาราง dataMiss เป็นข้อมูลผู้ป่วยที่ไม่ทราบ เพศ จะเห็นได้ว่ากว่าครึ่งหนึ่งของข้อมูลทั้งหมด เป็นผู้ป่วยที่มีสัญชาติ Burma และ ส่วนใหญ่เริ่มมีอาการที่จังหวัด สมุทรสาคร

จากข้อมูลดังกล่าวสามารถอธิบายได้ว่า ข้อมูลเป็น missing เพราะว่าเป็น ช่วงที่พบผู้ติดเชื้อพร้อมกันเป็นจำนวนมากและเป็นแรงงานต่างด้าวอยู่ในพื้นที่จังหวัดสมุทรสาคร ก็เลยทำให้การบันทึกข้อมูลเป็นไปได้ยาก