<a href="https://colab.research.google.com/github/PondKann/data_viz/blob/main/Pandas_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# เรียกใช้ฟังก์ชั่น os เกี่ยวกับการจัดการไฟล์ เรียกไฟล์ ลบ 
import os
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

['pm-18-jan-2021.csv', 'covid-19-daily_data_dictionary.xlsx']

In [4]:
covid_file_path = os.path.join(path,'pm-18-jan-2021.csv')
print(covid_file_path)

/content/drive/My Drive/DataViz_2021/pm-18-jan-2021.csv

In [ ]:
#ใช้ได้เหมือน os
a = path + '/covid_file_path'
print(a)

/content/drive/My Drive/DataViz_2021/covid_file_path

### Load data to memory
ใส่ ```edcoding='utf-8'``` หรือ ```encoding='latin1'``` ถ้าภาษาไม่ตรงกับ

In [ ]:
data_covid = pd.read_csv(covid_file_path)
data_covid

In [ ]:
data_covid.shape

(12423, 10)

### การชี้ค่าในตาราง

In [ ]:
data_covid['province_of_onset']

In [ ]:
data_covid['province_of_onset'][4]

'กรุงเทพมหานคร'

#### .iloc
ชี้ตามลำดับ

In [ ]:
data_covid.iloc[4,7]

'กรุงเทพมหานคร'

## Table slicing

### ตัดมาเฉพาะ column ที่ต้องการ

In [ ]:
smaller_table = data_covid[['announce_date','province_of_onset','risk']]
smaller_table

### ตัดเฉพาะ rows ที่ต้องการ

แบบง่าย แต่ใช้การอะไรไม่ค่อยได้ (มองเป็น array แล้วตัดแบบ array)

In [ ]:
data_covid.iloc[1:5,:] #แถวที่1-4 เอาทุก ๆ คอลัมน์

แบบ advanced แต่ใช้ปะโยชน์ได้เยอะกว่า (ตัดแบบใช้ logic query)

In [ ]:
data_covid[data_covid['province_of_onset']=='ขอนแก่น']

### การชี้ค่าในตารางด้วย data_covid[**x**]  
ค่า **x** สามารถมีค่าที่ใส่เข้าไปได้ 2 แบบ

1. ชื่อ column
2. ใส่ rows ที่ต้องการ (ใส่ list ที่มีขนาดเท่ากับจำนวนแถว แล้วบอกว่าเอา แถวไหนบ้างโดยใช้ logical expression (True/False))

In [ ]:
eight_rows_covid = data_covid.iloc[:8,:] # แถว คนที่ 1 -8  , เอามาทุกคอมลัมป์
eight_rows_covid

In [ ]:
eight_rows_covid[[True,False,True,True,False,True,False,False]]  # เลือกว่าเอาแถวไหนมาบ้าง ให้ ใส่ True - False

In [ ]:
eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร'

จาก **```eight_rows_covid```** ข้างบนที่เป็นตารางใหญ่สุด  ->  ให้ชี้ไปที่ ตาราง **```eight_rows_covid```** ที่คอลัมน์  **```'province_of_onset'```** เอามาแค่ แถว **```กรุงเทพมหานคร```** แถวอื่น ๆ ใน province_of_onset ให้ตัดออกเลย คอมลัมน์อื่น ใน ```eight_rows_covid``` ตารางใหญ่ ยังคงอยู่

In [ ]:
eight_rows_covid[eight_rows_covid['province_of_onset'] == 'กรุงเทพมหานคร']  #เราเอา 2 บรรทัดบนมาบวกกัน

## HW6 (ให้ใช้เฉพาะที่อาจารย์สอนไปแล้วในวิชานี้)
1. คำนวณ อายุเฉลี่ย ของ ผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด
2. คำนวณ อายุเฉลี่ย ของ ผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

Quiz 3. หาจำนวนผู้ป่วยที่เป็น **'คนต่างชาติเดินทางมาจากต่างประเทศ'**

In [ ]:
data_covid[data_covid['risk']=='คนต่างชาติเดินทางมาจากต่างประเทศ'].shape[0]

155

### 1. คำนวณ อายุเฉลี่ย ของ ผู้หญิง และผู้ชาย ของข้อมูลทั้งหมด

In [ ]:
data_all = data_covid[['sex','age']]
dataF_all = data_all[data_all['sex']=='หญิง']
female = dataF_all[['age']].values
female

In [ ]:
sum_f = 0 
count = 0 
for i in female:
  if i >= 0:
    sum_f +=  float(i)
    count+=1
print(f' รวม {sum_f}  จำนวน {count} คน')
print(f' อายุเฉลี่ยของผู้ป่วยหญิงทั้งหมด เท่ากับ {sum_f/count} ')

 รวม 157440.11  จำนวน 4289 คน
 อายุเฉลี่ยของผู้ป่วยหญิงทั้งหมด เท่ากับ 36.70788295640009

In [ ]:
data_all = data_covid[['sex','age']]
dataM_all = data_all[data_all['sex']=='ชาย']
male = dataM_all[['age']].values
male

In [ ]:
sum_m = 0 
count = 0 
for i in male:
  if i >= 0:
    sum_m +=  float(i)
    count+=1
print(f' รวม {sum_m}  จำนวน {count} คน')
print(f' อายุเฉลี่ยของผู้ป่วยชายทั้งหมด เท่ากับ {sum_m/count} ')

 รวม 172705.11  จำนวน 4366 คน
 อายุเฉลี่ยของผู้ป่วยชายทั้งหมด เท่ากับ 39.55682775996335

### 2. คำนวณ อายุเฉลี่ย ของ ผู้หญิง และผู้ชาย ของผู้ป่วยในจังหวัดขอนแก่น

In [ ]:
data_kk = data_covid[data_covid['province_of_onset']=='ขอนแก่น']
data_kk1 = data_kk[['sex','age']]
dataF_kk = data_kk1[data_all['sex']=='หญิง']
female_kk = dataF_kk[['age']].values
female_kk

In [ ]:
sum_f = 0 
count = 0 
for i in female_kk:
  if i >= 0:
    sum_f +=  float(i)
    count+=1
print(f' รวม {sum_f}  จำนวน {count} คน')
print(f' อายุเฉลี่ยของผู้ป่วยหญิงทั้งหมดในขอนแก่น เท่ากับ {sum_f/count} ')

 รวม 291.0  จำนวน 7 คน
 อายุเฉลี่ยของผู้ป่วยหญิงทั้งหมดในขอนแก่น เท่ากับ 41.57142857142857

In [ ]:
dataM_kk = data_kk1[data_all['sex']=='ชาย']
male_kk = dataM_kk[['age']].values
male_kk

In [ ]:
sum_f = 0 
count = 0 
for i in male_kk:
  if i >= 0:
    sum_f +=  float(i)
    count+=1
print(f' รวม {sum_f}  จำนวน {count} คน')
print(f' อายุเฉลี่ยของผู้ป่วยชายทั้งหมดในขอนแก่น เท่ากับ {sum_f/count} ')

 รวม 186.0  จำนวน 7 คน
 อายุเฉลี่ยของผู้ป่วยชายทั้งหมดในขอนแก่น เท่ากับ 26.571428571428573

## การจัดการ missing
- ลบ record ที่เป็น  missing
- แทนที่ ค่า missing ด้วยค่าที่เหมาะสม mean, default, category-unknown
- ใช้ ค่าจาก columns อื่น ๆ ช่วยประมาณค่า ใน column ที่หายไป (regression, deep learning, ect.)

 ###  ลบ record (dropna)
 missing =  ` ` ` None ` ` `  ` ` ` NA` ` `(not autorized)  ` ` `Nan ` ` `(not number)

In [ ]:
this_data = data_covid[['age','sex','province_of_onset']]
this_data

In [ ]:
this_data.shape

(12423, 3)

In [ ]:
print(data_covid.shape)
print(data_covid.dropna().shape)

(12423, 10)
(6430, 10)

In [ ]:
this_data.dropna(inplace=True) # inplace=True อัพเดตค่าในตารางเลย
this_data.shape

(8253, 3)

### แทน missing ด้วยค่าที่เหมาะสม (fillna)

In [ ]:
this_data = data_covid[['age','sex','province_of_onset']]
this_data.head()

In [ ]:
print(f'จำนวน record ก่อน drop missing ใน province {this_data.shape[0]}')
print(f"จำนวน record หลัง drop missing ใน province {this_data.dropna(subset=['province_of_onset']).shape[0]}")

จำนวน record ก่อน drop missing ใน province 12423
จำนวน record หลัง drop missing ใน province 10432

In [ ]:
this_data_updated = this_data.fillna(value={'sex' : 'ไม่รู้', 'age' : -1, 'province_of_onset': 'ไม่รู้' })
this_data_updated.head()

1. จาก **```data_covid```** เป็นตารางใหญ่สุด  ->  ให้ชี้ไปที่ ตาราง **```this_data_updated```** ที่คอลัมน์  **```'sex'```**  (ทั้ง2ตารางจะมีจำนวนแถวเท่ากัน)
2. **```'sex'```**  เอามาแค่ แถว **```ไม่รู้```** แถวอื่น ๆ ใน 'sex' ที่ไม่ใช่ ค่า  **ไม่รู้** ให้ตัดออกเลย(ตัดในตารางใหญ่ด้วย) ส่วนคอลัมน์อื่น ๆ ใน ```data_covid``` ตารางใหญ่ ยังคงอยู่ 
3. ผลที่ออกมา จะเป็นค่าที่อยู่ในตาราง **```data_covid```** ตารางใหญ่ทั้งหมด โดยจะเป็นส่วนที่เหลือจากที่ถูกตัด แถว(ที่ไม่ใช่ค่า **ไม่รู้** ) ออกไปแล้ว

In [ ]:
data_covid[this_data_updated['sex'] == 'ไม่รู้']

In [ ]:
this_data_updated2 = this_data.fillna(value={'province_of_onset': 'ไม่รู้' }) #this_data_updated2  เติมแค่ missing ให้ province_of_onset เท่านั้น
this_data_updated2.head()

1. จาก **```this_data_updated2```** เป็นตารางใหญ่สุด(ตารางหลัก)  ->  ให้ชี้ไปที่ ตาราง **```this_data_updated```** ที่คอลัมน์  **```'sex'```**  (ทั้ง2ตารางจะมีจำนวนแถวเท่ากัน)
2. **```'sex'```**  เอามาแค่ แถว **```ไม่รู้```** แถวอื่น ๆ ใน 'sex' ที่ไม่ใช่ ค่า  **อื่น** ให้ตัดออกเลย(ตัดแถวในตารางใหญ่ด้วย) ส่วนคอลัมน์อื่น ๆ ใน ```this_data_updated2``` ตารางใหญ่ ยังคงอยู่ 
3. ผลที่ออกมา จะเป็นค่าที่อยู่ในตาราง **```this_data_updated2```** ตารางใหญ่ทั้งหมด โดยจะเป็นส่วนที่เหลือจากที่ถูกตัด แถว(ที่ไม่ใช่ค่า **ไม่รู้** ) ออกไปแล้ว

In [ ]:
this_data_updated2[this_data_updated['sex'] == 'ไม่รู้'].head()

## การวนลูป record ในตาราง (``` iterroes```)

In [ ]:
this_data = data_covid[['age','sex','province_of_onset']]
this_data

In [18]:
for each_row in  this_data.iterrows():
    #print(each_row)
    #print(each_row[1])
    if (each_row[1]['age'] == 20) and (each_row[1]['province_of_onset'] == 'ขอนแก่น') :
        print(each_row)

(9334, age                       20
sex                      ชาย
province_of_onset    ขอนแก่น
Name: 9334, dtype: object)

## การวนลูป แบบมองตารางแพนด้าส์ (pandas dataframe) เป็น numpy array (```.iloc ```)

In [43]:
for each_row in range(this_data.shape[0]):  # วิ่งทีละแถว 
    if (this_data.iloc[each_row,0]==20) and (this_data.iloc[each_row,2]== 'ขอนแก่น') :   # each_row คือ ตัวเลข
        print(this_data.iloc[each_row, : ])

age                       20
sex                      ชาย
province_of_onset    ขอนแก่น
Name: 9334, dtype: object

#Quiz  ตัดตารางออกมาเฉพาะปี 2021  (```announce_data ```) ในปี 2521


1.  วนลูปหา index ของปี 2021 
2.   ตัดตารางมาเฉพาะปี 2021

In [ ]:
data_covid

In [ ]:
for nd in  data_covid.iterrows():
    if (nd[1]['announce_date'] == '1/1/2021') : # 6885
        print(nd)

In [ ]:
covid2021 = data_covid.iloc[6885:,:]
covid2021