<a href="https://colab.research.google.com/github/PondKann/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
import os
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

['pm-18-jan-2021.csv',
 'covid-19-daily_data_dictionary.xlsx',
 'income.csv',
 'income2.xls',
 'จัดซื้อ 57-58.xls',
 'online_retail_II.xlsx',
 'online_retail_II.csv',
 'dataClean.csv',
 'search_click.csv',
 'example_timestamp.csv',
 'example_timestamp_02.csv',
 'search_request.csv']

In [18]:
df_path = os.path.join(path,'search_request.csv')
print(df_path)

/content/drive/My Drive/DataViz_2021/search_request.csv

df= pd.read_cvs(df_path,sheet_name=0,skiprows=3,header=0)
data_income = income3.iloc[2:-4]

In [ ]:
df= pd.read_csv(df_path,header=0)

## เปรียบเทียบจำนวน request ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59

## เปรียบเทียบจำนวน request ของวันจันทร์ถึงพฤหัส กับ ศุกร์ถึงอาทิตย์

In [21]:
df.head()

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [20]:
from datetime import datetime

In [25]:
df.iloc[0,2]

'2018-06-14 12:34:35.449'

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10004357 entries, 0 to 10004356
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   search_id         object
 2   search_timestamp  object
 3   user_agent        object
 4   q                 object
 5   user_id           float64
 6   session_id        object
 7   number_of_result  object
 8   lat               object
 9   long              object
dtypes: float64(1), int64(1), object(8)
memory usage: 763.3+ MB

In [39]:
df[df['search_timestamp']=='2018-06-14 12:34:35.449']

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463

[1 rows x 10 columns]

เปลี่ยนจาก Str เป็น Datetime

In [47]:
df['search_timestamp'] = pd.to_datetime(df['search_timestamp'],format='%Y-%m-%d %H:%M:%S')

ValueError: ignored

In [44]:
date_time = datetime.strptime(df['search_timestamp'], '%Y-%m-%d %H:%M:%S')

TypeError: ignored