<a href="https://colab.research.google.com/github/PondKann/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [74]:
import os
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

['pm-18-jan-2021.csv',
 'covid-19-daily_data_dictionary.xlsx',
 'income.csv',
 'income2.xls',
 'จัดซื้อ 57-58.xls',
 'online_retail_II.xlsx',
 'online_retail_II.csv',
 'dataClean.csv',
 'search_click.csv',
 'example_timestamp.csv',
 'example_timestamp_02.csv']

In [ ]:
import os
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

In [76]:
df_path = os.path.join(path,'example_timestamp.csv')
print(df_path)

/content/drive/My Drive/DataViz_2021/example_timestamp.csv

df= pd.read_cvs(df_path,sheet_name=0,skiprows=3,header=0)
data_income = income3.iloc[2:-4]

In [77]:
df= pd.read_csv(df_path,header=0)
df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

## เปรียบเทียบผลรวม ```alpha``` และ ```beta``` ของข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [83]:
df.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in df.columns]
df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [54]:
df.columns

Index(['Unnamed: 0', 'alpha', 'beta'], dtype='object')

In [79]:
bf = df[df['Unnamed: 0'] <'2020-06-02' ]
bf.sum()

Unnamed: 0    2020-05-292020-05-302020-05-312020-06-01
alpha                                            24.16
beta                                               102
dtype: object

### Data 2 แบบที่เปลี่ยนรูปแบบวันที่เป็น วัน-เดือน-ปี

In [80]:
df2_path = os.path.join(path,'example_timestamp_02.csv')
df2 = pd.read_csv(df2_path,header=0)
df2

   Unnamed: 0  alpha  beta
0  29-05-2020   8.78    24
1  30-05-2020  13.00    25
2  31-05-2020   0.44    25
3  01-06-2020   1.94    28
4  02-06-2020   5.40    20
5  03-06-2020   5.68    21
6  03-06-2020   2.64    16

In [81]:
from datetime import datetime

เปลี่ยนค่าที่เป็น srt ให้เป็น datetime

In [82]:
df2['Unnamed: 0'] = pd.to_datetime(df2['Unnamed: 0'], format='%Y-%m-%d')
df2

ValueError: ignored

In [ ]:

data.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in data.columns]
data

## เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน ```Time diff nano   ``` ระหว่างช่วงเวลา  10.00-11.00 กับ 23.00-23.59