<a href="https://colab.research.google.com/github/PondKann/data_viz/blob/main/Quiz5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [23]:
import os
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

['pm-18-jan-2021.csv',
 'covid-19-daily_data_dictionary.xlsx',
 'income.csv',
 'income2.xls',
 'จัดซื้อ 57-58.xls',
 'online_retail_II.xlsx',
 'online_retail_II.csv',
 'dataClean.csv',
 'search_click.csv',
 'example_timestamp.csv']

In [ ]:
import os
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

In [25]:
df_path = os.path.join(path,'example_timestamp.csv')
print(df_path)

/content/drive/My Drive/DataViz_2021/example_timestamp.csv

df= pd.read_cvs(df_path,sheet_name=0,skiprows=3,header=0)
data_income = income3.iloc[2:-4]

In [26]:
df= pd.read_csv(df_path,header=0)
df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

## เปรียบเทียบผลรวม ```alpha``` และ ```beta``` ของข้อมูล ก่อนและตั้งแต่วันที่ 2 มิถุนายน 2020

In [13]:
from datetime import datetime

In [27]:
df.columns = [i.strftime('%Y-%m-%d') if isinstance(i, datetime) else i for i in df.columns]
df

   Unnamed: 0  alpha  beta
0  2020-05-29   8.78    24
1  2020-05-30  13.00    25
2  2020-05-31   0.44    25
3  2020-06-01   1.94    28
4  2020-06-02   5.40    20
5  2020-06-03   5.68    21
6  2020-06-04   2.64    16

In [29]:
df['sum'] = df['alpha'] + df['beta']

In [30]:
df

   Unnamed: 0  alpha  beta    sum
0  2020-05-29   8.78    24  32.78
1  2020-05-30  13.00    25  38.00
2  2020-05-31   0.44    25  25.44
3  2020-06-01   1.94    28  29.94
4  2020-06-02   5.40    20  25.40
5  2020-06-03   5.68    21  26.68
6  2020-06-04   2.64    16  18.64

In [33]:
df.columns

Index(['Unnamed: 0', 'alpha', 'beta', 'sum'], dtype='object')

In [34]:
datetime(day=29,month=5,year=2020)

datetime.datetime(2020, 5, 29, 0, 0)

## เปรียบเทียบเวลาเฉลี่ยที่ใช้ในการกดเลือกร้าน ```Time diff nano   ``` ระหว่างช่วงเวลา  10.00-11.00 กับ 23.00-23.59