<a href="https://colab.research.google.com/github/PondKann/data_viz/blob/main/Quiz5(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import os
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

['pm-18-jan-2021.csv',
 'covid-19-daily_data_dictionary.xlsx',
 'income.csv',
 'income2.xls',
 'จัดซื้อ 57-58.xls',
 'online_retail_II.xlsx',
 'online_retail_II.csv',
 'dataClean.csv',
 'search_click.csv',
 'example_timestamp.csv',
 'example_timestamp_02.csv',
 'search_request.csv']

In [3]:
df_path = os.path.join(path,'search_request.csv')
print(df_path)

/content/drive/My Drive/DataViz_2021/search_request.csv

df= pd.read_cvs(df_path,sheet_name=0,skiprows=3,header=0)
data_income = income3.iloc[2:-4]

In [4]:
df= pd.read_csv(df_path,header=0)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

   Unnamed: 0                             search_id  ...      lat     long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.6347  101.463
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.8009  102.534
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.7383  100.371
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.6669  101.861
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.2372    99.88

[5 rows x 10 columns]

In [11]:
df.shape

(10004357, 10)

## เปรียบเทียบจำนวน request ของช่วงเวลา 11.00-11.59 กับ 23.00-23.59

## เปรียบเทียบจำนวน request ของวันจันทร์ถึงพฤหัส กับ ศุกร์ถึงอาทิตย์

https://docs.python.org/3/library/datetime.html?fbclid=IwAR2bqCM-_gaRcZwvniCedGtNP7FyjwHutDrCFlYGh3rstS8NwFckByPBW3U#strftime-and-strptime-behavior

In [6]:
from datetime import datetime

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10004357 entries, 0 to 10004356
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   search_id         object
 2   search_timestamp  object
 3   user_agent        object
 4   q                 object
 5   user_id           float64
 6   session_id        object
 7   number_of_result  object
 8   lat               object
 9   long              object
dtypes: float64(1), int64(1), object(8)
memory usage: 763.3+ MB

เปลี่ยนจาก Str เป็น Datetime

In [12]:
df['search_timestamp']  = pd.to_datetime(df['search_timestamp'],format='%Y-%m-%d %H:%M:%S',errors='coerce')

In [13]:
df['search_timestamp_v2'] = pd.to_datetime(df['search_timestamp'],format='%Y-%m-%d  %H:%M:%S' , errors = 'coerce')

In [15]:
df[df['search_timestamp'].dt.dayofweek == 3]

          Unnamed: 0  ...     search_timestamp_v2
0                  0  ... 2018-06-14 12:34:35.449
1                  1  ... 2018-06-14 17:11:19.469
2                  2  ... 2018-06-14 13:22:31.736
253              253  ... 2018-06-07 14:44:39.540
254              254  ... 2018-06-07 13:00:09.445
...              ...  ...                     ...
10004269    10005142  ... 2018-06-28 15:08:56.119
10004270    10005143  ... 2018-06-28 18:31:31.485
10004271    10005144  ... 2018-06-28 13:57:54.451
10004284    10005157  ... 2018-06-21 13:18:45.515
10004285    10005158  ... 2018-06-21 13:18:14.611

[1087060 rows x 11 columns]

In [ ]:
A = data[data['search_timestamp'].dt.time < time(hour=12)]
A = A[A['search_timestamp'].dt.time >= time(hour=11)]
A = A.iloc[:,2].count()
A

In [ ]:
B = data[data['search_timestamp'].dt.time >= time(hour=23)]
B = B.iloc[:,2].count()
B