<a href="https://colab.research.google.com/github/PondKann/data_viz/blob/main/Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# แบบ1

In [43]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [44]:
import os
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

['pm-18-jan-2021.csv',
 'covid-19-daily_data_dictionary.xlsx',
 'income.csv',
 'income2.xls']

In [45]:
income2_file_path = os.path.join(path,'income2.xls')
print(income2_file_path)

/content/drive/My Drive/DataViz_2021/income2.xls

In [79]:
income3= pd.read_excel(income2_file_path,sheet_name=0,skiprows=3,header=0)
data_income = income3.iloc[2:-4]

In [80]:
data_income

       ภาค และจังหวัด Unnamed: 1  ...          2558  Region and province
2     ทั่วราชอาณาจักร        NaN  ...  26914.846584        Whole Kingdom
3            ตอนพิเศษ        NaN  ...  41002.390519      Greater Bangkok
4       กรุงเทพมหานคร        NaN  ...  45571.700000              Bangkok
5         สมุทรปราการ        NaN  ...  25457.200000         Samut Prakan
6             นนทบุรี        NaN  ...  36884.000000           Nonthaburi
..                ...        ...  ...           ...                  ...
80               ตรัง        NaN  ...  23309.100000                Trang
81             พัทลุง        NaN  ...  21478.300000           Phattalung
82            ปัตตานี        NaN  ...  17513.000000              Pattani
83               ยะลา        NaN  ...  15583.800000                 Yala
84           นราธิวาส        NaN  ...  19889.600000           Narathiwat

[83 rows x 13 columns]

ลบแถวที่มี missing ของแถวที่ 'ภาค และจังหวัด'
- ```data_income.dropna(subset=['ภาค และจังหวัด']).iloc[:,:13]  ```
  อันนี้พิมพ์ตามอ.เพราะ อ.โหลด จาก csv มันมีแถวอื่นๆเพิ่มเข้ามา แล้วมันเป็น nan

In [ ]:
data_income.dropna(subset=['ภาค และจังหวัด']).iloc[:,:13]

In [82]:
data_income[50:60]

     ภาค และจังหวัด Unnamed: 1     2541  ...     2556     2558   Region and province
52         สุรินทร์        NaN   6398.0  ...  21351.0  20314.6                 Surin
53         ศรีสะเกษ        NaN   7669.0  ...  16207.2  18792.5             Si Sa Ket
54      อุบลราชธานี        NaN  10267.0  ...  22343.7  20452.5      Ubon Ratchathani
55            ยโสธร        NaN   7478.0  ...  14418.4  19517.9              Yasothon
56          ชัยภูมิ        NaN   6220.0  ...  18641.0  23829.5            Chaiyaphum
57       อำนาจเจริญ        NaN   8139.0  ...  17272.8  21172.9         Amnat Charoen
58           บึงกาฬ        NaN      NaN  ...  20207.0  23766.6               Bungkan
59      หนองบัวลำภู        NaN   8386.0  ...  15390.4  22552.5      Nong Bua Lam Phu
60          ขอนแก่น        NaN  11521.0  ...  18095.0  21336.7             Khon Kaen
61         อุดรธานี        NaN   7744.0  ...  25965.9  22817.4            Udon Thani

[10 rows x 13 columns]

# แบบ2

โหลดไฟล์ไว้ใน colab ก่อน ถึงจะอ่านไฟล์แบบนี้ได้

กำหนดหัวตารางคือ แถวที่ 3

In [99]:
data_csv = pd.read_csv('3.-41-58.csv', encoding='iso-8859-11',header=3) #utf-8 -- latin1
#data_csv.iloc[:10,:]
data_csv.head(10)

          ภาค และจังหวัด Unnamed: 1  ... Unnamed: 65 Unnamed: 66
0                    NaN        NaN  ...         NaN         NaN
1                    NaN        NaN  ...         NaN         NaN
2       ทั่วราชอาณาจักร         NaN  ...         NaN         NaN
3              ตอนพิเศษ         NaN  ...         NaN         NaN
4         กรุงเทพมหานคร         NaN  ...         NaN         NaN
5           สมุทรปราการ         NaN  ...         NaN         NaN
6               นนทบุรี         NaN  ...         NaN         NaN
7              ปทุมธานี         NaN  ...         NaN         NaN
8               ภาคกลาง         NaN  ...         NaN         NaN
9       พระนครศรีอยุธยา         NaN  ...         NaN         NaN

[10 rows x 67 columns]

ลบคอลัมน์ทีเ่เป็น missing ใน แถว** 'ภาค และจังหวัด' **ออก

In [100]:
data_1 = data_csv.dropna(subset=['ภาค และจังหวัด']).iloc[:,:13]
data_1

         ภาค และจังหวัด  ... Region and province
2      ทั่วราชอาณาจักร   ...      Whole Kingdom
3             ตอนพิเศษ   ...    Greater Bangkok
4        กรุงเทพมหานคร   ...            Bangkok
5          สมุทรปราการ   ...       Samut Prakan
6              นนทบุรี   ...         Nonthaburi
..                  ...  ...                 ...
82             ปัตตานี   ...            Pattani
83                ยะลา   ...               Yala
84            นราธิวาส   ...         Narathiwat
87               ที่มา:  ...                 NaN
88              Source:  ...                 NaN

[85 rows x 13 columns]

เช็คว่า บึงกาฬ ยังมีข้อมูลมั้ย

In [104]:
data_1.iloc[50:60,:]

       ภาค และจังหวัด Unnamed: 1  ...      2558     Region and province
52          สุรินทร์         NaN  ...   20,315                   Surin
53          ศรีสะเกษ         NaN  ...   18,793               Si Sa Ket
54       อุบลราชธานี         NaN  ...   20,453        Ubon Ratchathani
55             ยโสธร         NaN  ...   19,518                Yasothon
56           ชัยภูมิ         NaN  ...   23,830              Chaiyaphum
57        อำนาจเจริญ         NaN  ...   21,173           Amnat Charoen
58            บึงกาฬ         NaN  ...   23,767                 Bungkan
59       หนองบัวลำภู         NaN  ...   22,553        Nong Bua Lam Phu
60           ขอนแก่น         NaN  ...   21,337               Khon Kaen
61          อุดรธานี         NaN  ...   22,817              Udon Thani

[10 rows x 13 columns]

In [98]:
data_1 = data_csv.dropna(subset=['ภาค และจังหวัด']).drop(columns=['Unnamed: 1']).iloc[:,:12]
data_1

         ภาค และจังหวัด      2541  ...      2558 Region and province
2      ทั่วราชอาณาจักร    12,492   ...   26,915       Whole Kingdom
3             ตอนพิเศษ    24,929   ...   41,002     Greater Bangkok
4        กรุงเทพมหานคร    26,054   ...   45,572             Bangkok
5          สมุทรปราการ    18,100   ...   25,457        Samut Prakan
6              นนทบุรี    24,211   ...   36,884          Nonthaburi
..                  ...       ...  ...       ...                 ...
82             ปัตตานี    10,737   ...   17,513             Pattani
83                ยะลา     7,560   ...   15,584                Yala
84            นราธิวาส     6,281   ...   19,890          Narathiwat
87               ที่มา:       NaN  ...       NaN                 NaN
88              Source:       NaN  ...       NaN                 NaN

[85 rows x 12 columns]

แบบเดียวกันกับข้างบน แค่สั้นกว่า

In [ ]:
data_2 = data_1.drop(columns=['Unnamed: 1'])
data_2